body {
    background-color: lightgrey;
    font-family: monospace;
}

h1,
h2,
h3 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

#right {
    padding: 1rem 2rem;
    background-color: darkgreen;
    color: white;
}

#wrong {
    padding: 1rem 2rem;
    background-color: darkred;
    color: white;
}