body {
    background-color: rgb(207, 207, 207);
    font-family: monospace;
}

h1,
h2,
h3 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

#right {
    padding: 1rem 2rem;
    background-color: rgb(0, 85, 100);
    color: white;
    width: 35%;
}

#wrong {
    padding: 1rem 2rem;
    background-color: rgb(134, 0, 139);
    color: white;
    width: 35%;
}